<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Eh-pakir</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
</head>

<body>
  <div id="app">
    <div class="columns is-gapless">
      <div class="column is-one-quarter">
        <section class="hero is-warning is-bold is-fullheight">
          <div class="hero-body">
            <div class="container has-text-centered">
              <img src="https://cdn4.iconfinder.com/data/icons/smart-city-vol-3/32/smart_parking_car_automatic_vehicle_park-512.png">
              <br/>
              <nav class="level">
                <p class="level-item has-text-centered">
                  <a class="button is-success" @click="showCheckin()">Checkin</a>
                </p>
                <p class="level-item has-text-centered">
                  <a class="button is-danger" @click="showCheckout()">Checkout</a>
                </p>
                <p class="level-item has-text-centered">
                  <a class="button is-info">History</a>
                </p>
              </nav>
            </div>
          </div>
        </section>
      </div>
      <div class="column">
        <section class="hero is-light is-fullheight">
          <div class="hero-body">
            <div class="container" id="welcome">
              <h1 class="title has-text-centered" v-if="!showCheckinForm">
                  Eh-Parking
              </h1>
              <p class="subtitle has-text-centered" v-if="!showCheckinForm">
                Your trully parking solution
              </p>

              <!-- Checkin -->
              <div v-if="showCheckinForm == true">
                <div class="field has-text-centered is-fluid">
                  <h1 class="title">Check In</h1>
                  <div class="file has-name is-centered is-info">
                    <label class="file-label">
                      <input class="file-input" type="file" @change="onFileChange">
                      <span class="file-cta">
                        <span class="file-icon">
                          <i class="fa fa-upload"></i>
                        </span>
                      <span class="file-label">
                          Upload
                        </span>
                      </span>
                      <span class="file-name">
                        <p v-if="!imageName">Choose File</p>
                        <p v-else>{{ imageName}}</p>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="field " v-if="image">
                  <div class="container is-fluid">
                    <div class="columns is-mobile">
                      <div class="column is-half is-half-mobile">
                        <div class="field">
                          <label class="label">Plate Number</label>
                          <div class="control">
                            <input class="input" type="text" placeholder="e.g B 1234 AC" id="licensePlate" :value=plateNumber>
                            <input class="input" type="hidden" placeholder="e.g B 1234 AC" id="photo" :value=photoLink>
                          </div>
                        </div>
                        <div class="field">
                          <label class="label">Check in</label>
                          <div class="control">
                            <input class="input" type="text" :value="date">
                          </div>
                        </div>
                        <div class="field is-grouped is-grouped-right">
                        <div class="control">
                          <button class="button is-primary" @click="uploadFromCheckin()">Submit</button>
                        </div>
                      </div>
                      </div>
                      <div class="column">
                        <img :src="image" width="300" height="300" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Checkout -->
              <div v-if="showCheckoutForm == true">
                <div class="field has-text-centered is-fluid">
                  <h1 class="title">Check Out</h1>
                  <div class="field has-addons" >
                    <div class="control">
                      <input id="plateSearch" class="input" type="text" placeholder="Input plate number here">
                    </div>
                    <div class="control">
                      <a class="button is-info" @click="showCheckoutData()">
                        Search
                      </a>
                    </div>
                  </div>
                </div>
                <div class="field" v-if="showCheckoutPlate == true">
                  <div class="container is-fluid">
                    <div class="columns is-mobile">
                      <div class="column is-half is-half-mobile">
                        <div class="field">
                          <label class="label">Plate Number</label>
                          <div class="control">
                            <input id="checkoutLicense" class="input is-static" type="text" :value="plateNumber" readonly>
                          </div>
                        </div>
                        <div class="field">
                          <label class="label">Check in</label>
                          <div class="control">
                            <input id="checkoutDateIn" class="input is-static" type="text" :value="checkInDate" readonly>
                          </div>
                        </div>
                        <div class="field">
                          <label class="label">Check out</label>
                          <div class="control">
                            <input id="checkoutDateOut" class="input is-static" type="text" :value="checkOutDate" readonly>
                          </div>
                        </div>
                        <div class="field">
                          <label class="label">Tarif</label>
                          <div class="control">
                            <input id="checkoutCharge" class="input is-static" type="text" :value="charge" readonly>
                          </div>
                        </div>
                        <div class="field is-grouped is-grouped-right">
                        <div class="control">
                          <button class="button is-primary" @click="updateCheckout()">Submit</button>
                        </div>
                      </div>
                      </div>
                      <div class="column">
                        <img :src="photoLink" width="300" height="300" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- History -->
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="http://unpkg.com/vue"></script>
  <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript">
  
  new Vue({
    el: '#app',
    data: {
      message: 'Halo',
      dataId: null,
      showCheckinForm: null,
      showCheckoutForm: null,
      showCheckoutPlate: null,
      image: '',
      imageName: null,
      plateNumber: null,
      checkInDate: null,
      checkOutDate: null,
      charge: null,
      date: new Date().toLocaleString(),
      photoLink: null
    },
    methods: {
      showCheckin: function() {
        this.showCheckinForm = true
        this.showCheckoutForm = false
        this.showCheckoutPlate = false
      },
      showCheckout: function() {
        this.showCheckoutForm = true
        this.showCheckinForm = false
        this.image = ''
      },
      onFileChange(e) {
        console.log(e)
        var files = e.target.files || e.dataTransfer.files;
        if (!files.length)
          return;
        this.imageName = files[0].name
        this.showCheckinFormData(files[0])
        this.createImage(files[0]);
      },
      createImage(file) {
        var image = new Image();
        var reader = new FileReader();
        var vm = this;

        reader.onload = (e) => {
          vm.image = e.target.result;
        };
        reader.readAsDataURL(file);
      },
      showCheckinFormData: function(e) {
        let localthis = this
        let formData = new FormData()
        formData.append("file", e)
        console.log(formData)
        $.ajax({
          method: 'POST',
          url: 'http://localhost:3000/upload',
          data: formData,
          enctype: 'multipart/form-data',
          cache: false,
          processData: false,
          contentType: false,
          success: function(resp) {
            localthis.plateNumber = resp.data
            localthis.photoLink = resp.link
            
          },
          error: function(err) {
            console.log(err)
          }
        });
      },
      uploadFromCheckin: function (){
        let localthis = this
        $.ajax({
          type: 'POST',
          url: 'http://localhost:3000/transactions/',
          data: {
            licensePlate: $(licensePlate).val(),
            photo: $(photo).val()
          },
          success: function(resp) {
            localthis.plateNumber = null
            localthis.imageName = null
            localthis.image = ''
          },
          error: function() {

          }
        });
      },
      showCheckoutData: function (){
        let pembagi = 1000*60*60*24
        let localthis = this
        $.ajax({
          type: 'POST',
          url: 'http://localhost:3000/transactions/plate',
          data: {
            licensePlate: $(plateSearch).val()
          },
          success: function(resp){
            console.log(resp)
            localthis.showCheckoutPlate = true
            localthis.dataId = resp.data._id
            localthis.plateNumber = resp.data.licensePlate
            localthis.checkInDate = new Date(resp.data.checkIn)
            localthis.checkOutDate = new Date()
            localthis.photoLink = resp.data.photo
            let harga = 0
            if(((localthis.checkOutDate - new Date(resp.data.checkIn))/pembagi) < 1){
              harga = 3000
            } else {
              harga = Math.ceil((localthis.checkOutDate - new Date(resp.data.checkIn))/pembagi)*3000
            }
            localthis.charge = harga
            
          },
          error: function(error) {
            console.log(error)
          }
        })
      },
      updateCheckout: function (){
        let localthis = this
        $.ajax({
          type: 'PUT',
          url: `http://localhost:3000/transactions/${localthis.dataId}`,
          data: {
            checkOut: localthis.checkOutDate,
            charge: localthis.charge
          },
          success: function(resp){
            localthis.showCheckoutForm = null
            localthis.showCheckoutPlate = null
            console.log(resp)
          },
          error: function(error){
            console.log(error)
          }
        })
      }
    }
  })
  </script>
</body>

</html>